.navbarContainer {
  display: flex;
  position: fixed;
  align-items: center;
  width: 1376px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  margin: 32px auto;
  border-radius: 64px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(172, 195, 237, 0.2);
  backdrop-filter: blur(15px);
  z-index: 999;
  transition: width 0.5s ease, border-radius 0.5s ease, margin 0.5s ease;
}
.subNavActive {
  background: rgba(230, 65, 37, 0.16);
  a {
    color: var(--Brand-Red-base, #e64125);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.14px;
  }
}

.scrolled {
  display: flex;
  width: 100vw;
  height: 96px;
  border-radius: 0px 0px 64px 64px;
  margin: 0;
}
// scrollY > 0 CSS KODLARI Start
.navbarContainer.scrolled .navbarLeft {
  margin-right: 78px;
  margin-left: 70px;
}

.navbarContainer.scrolled .languageContainer {
  margin-left: 139px;
}
// scrollY > 0 CSS KODLARI Finish

.navbarLeft {
  text-decoration: none;
  margin-left: 67px;
  margin-right: 74px;
  margin-top: 31px;
  margin-bottom: 31px;
}

.navbarMiddle {
  display: flex;
  align-items: center;

  a {
    color: #142239 !important;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.016px;
    text-decoration: none;
    color: black;
  }
  &.open {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    background-color: white;
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    padding: 20px;
    animation: slideInLeft 0.5s ease-in-out;
  }
  .chevronDown {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .navLinks {
    display: flex;
    align-items: center;
  }
}
.navMiddleLinks {
  display: flex;
  column-gap: 32px;
  width: 789px;
}

#navLinks {
  position: relative;
}

#navLinks:hover .dropdownContainer {
  opacity: 1;
  visibility: visible;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  list-style: none;
  margin: 0;
  z-index: 999;
  top: 70px;
  left: -50px;
  overflow: hidden;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s ease;

  a {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 16px 28px;
    height: 55px;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.14px;

    &:hover {
      background: rgba(230, 65, 37, 0.08);
      color: #e64125 !important;
    }
  }

  li {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 16px 28px;
    height: 55px;
    cursor: pointer;
    color: #e64125;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.14px;
  }
}

.navbarRight {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-left: 88.66px;

  .contactUs {
    display: flex;
    width: 144px;
    height: 46px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 28px;
    border: 2px solid #e64125;
    color: #e64125;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.016px;
    cursor: pointer;
  }
}

.navActive {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #e64125;
  }
}

.submenu-active a {
  background: rgba(230, 65, 37, 0.16);
}

// Responsive nav-menü Css start
.navbarMiddle.open {
  height: 100vh;
  overflow: auto;
}
.navbarMiddle.open .navbarRight {
  margin-left: 0;
  width: 100%;
}
.open .navActive {
  &::after {
    bottom: -6px;
  }
}

.navbarMiddle.open .navbarRight {
  padding: 10px;
}

.navbarMiddle.open .dropdownContainer {
  display: none;
  top: 10px;
  left: 10px;
  right: 70px;
  width: 100vw;
}

.navbarMiddle.open #navLinks:hover .dropdownContainer {
  display: flex;
  position: relative;

  a {
    width: 100%;
    padding: 0 10px;
    height: 30px;
  }
}

.navbarMiddle.open .navMiddleLinks {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 10px;
  width: 120px;
}

.subNavActive .dropdownContainer {
  position: relative;
}

// Responsive nav-menü Css Finish

.toggleIcon {
  display: none;
  cursor: pointer;
  margin-right: 50px;
  font-size: 24px;
  transition: opacity 0.3s, transform 0.3s ease-in-out;

  &.toggleOpen {
    animation: fadeToggle 0.3s forwards;
  }

  &.toggleClose {
    animation: fadeToggle 0.3s forwards reverse;
  }
}

@keyframes fadeToggle {
  from {
    opacity: 1;
    transform: rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1400px) {
  .navbarContainer {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .navbarContainer {
    position: fixed;
    justify-content: space-between;
  }
  .navbarMiddle {
    display: none;
  }
  .toggleIcon {
    display: block;
    position: absolute;
    right: 40px;
    top: 32px;
    width: 32px;
    height: 32px;
  }
}
