.mySwipper {
  display: flex !important;
  align-items: center !important;
  height: 1110px;

  .slide {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .description-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      row-gap: 36px;
      width: 879px;
      height: 487px;
      top: 280px;
      left: 131.12px;
    }
    &__title {
      font-size: 52px;
      font-weight: 600;
      line-height: 72px;
    }
    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      height: 112px !important;
    }
  }
}
.slide1 {
  background-image: url("/beyazkatman.svg"), url("/3d-arrow.svg");
}
.slide2 {
  background-image: url("/beyazkatman.svg"), url("/group444.svg");
}
.slide3 {
  background-image: url("/beyazkatman.svg"), url("/oracle.svg");
}
.slide4 {
  background-image: url("/beyazkatman.svg"), url("/greatplace.svg");
}

.swiper-pagination {
  position: absolute;
  bottom: 450px !important;
  left: 131.12px !important;
  z-index: 10;
  display: flex;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #000;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.hizmetlerimiz {
  position: absolute;
  z-index: 1;
  color: red;
  font-size: 24px;
  bottom: -60px;
  left: 131.12px;
  border: 2px solid #e64125;
  padding: 8px 18px 8px 18px;
  width: 316px;
  height: 56px;
  text-align: center;
  border-radius: 28px;

  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .description-container {
    left: 10px !important;
  }
  .swiper-pagination {
    left: 10px !important;
  }
  .description-container .slide__title {
    font-size: 36px;
  }
  .description-container .slide__description {
    font-size: 11px;
  }
  .hizmetlerimiz {
    left: 64px;
  }
}
@media (max-width: 490px) {
  .home-container .hizmetlerimiz {
    bottom: 180px;
  }
}
